.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.submitColor {
  display: flex;
  margin: 30px 0;
}

.submitColor input {
  box-sizing: border-box;
  height: 40px;
  border: none;
  border-bottom: 1px solid #dd342f;
  padding: 5px 12px;
  color: black;
  margin: auto 0;
}

.submitColor input:focus {
  border: none;
  outline: 0.5px solid #ff9800;
}

.submitColor button {
  border: 1px solid #dd342f;
  background-color: #fff;
  color: #dd342f;
  border-radius: 50px;
  height: 40px;
  width: 40px;
  /* padding: 15px 40px; */
  margin: 30px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: all 0.3s ease 0s;
}

.submitColor button:hover {
  cursor: pointer;
  border-color:#ff9800;
}

.submitColor button:focus {
  outline: #fff solid 0.1px;
}

/*Disabled*/
input[type="text"]:disabled {
  background: repeating-linear-gradient(
    45deg,
    white,
    white 10px,
    lightgrey 10px,
    lightgrey 20px
  );
}

button[disabled]:hover {
  cursor: not-allowed;
  font-style: normal;
}
