.root {
  background-color: #fbd74a;
  padding: 0.5rem;
  position: relative;
  overflow: hidden;
}

.mini-color-boxes {
  background-color: white;
  height: 150px;
  width: 100%;
  overflow: hidden;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  font-family: "Raleway", sans-serif;
  color: black;
  padding-top: 0.5rem;
  font-size: 1rem;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 2.5px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

.mini-colors {
  height: 25%;
  width: 20%;
  display: inline-block;
  margin: 0 auto;
  position: relative;
  margin-bottom: -3.5px;
}
