.root {
  background-color: #fbd74a;
  padding: 0.5rem;
  margin-bottom: 5%;
  position: relative;
  overflow: hidden;
  border: 1px solid #fbd74a;
  border-radius: 5px;
}

.miniColorBoxes {
  background-color: white;
  height: 150px;
  width: 100%;
  overflow: hidden;
}

.title {
  margin: 0;
  font-family: "Raleway", sans-serif;
  color: #453886;
  padding: 0.8rem 0.2rem 0.4rem;
  font-size: 0.9rem;
  letter-spacing: 2.5px;
}

.root a {
  text-decoration: none;
}

.root a:hover {
  font-style: italic;
}

.miniColors {
  height: 25%;
  width: 20%;
  display: inline-block;
  margin: 0 auto;
  position: relative;
  margin-bottom: -3px;
}
