.navbar {
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.title {
  color: #dd342f;
  font-size: 2.1rem;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  padding-bottom: 15px;
  padding: 0 15px 15px 0;
}

.title::after {
  content: " \A ─";
  font-size: 1.6rem;;
  white-space: pre;
  color: #dd342f;
}

.paletteNavLink {
  text-transform: capitalize;
  color: #dd342f;
  font-size: 1rem;
  letter-spacing: 2.5px;
  text-decoration: none;
  font-weight: 600;
  border-bottom: 1px solid #dd342f;
  margin: 15px 70px 0 0;
}

.paletteNavLink:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23ff9800' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: 25px;
  border-bottom: 0;
  padding-bottom: 0.3em;
  text-decoration: none;
}

.modal {
  display: flex;
  flex-direction: column;
}

.modalText {
  font-size: 2rem;
  max-width: 30%;
  text-align: center;
}

.btn {
  border: 1px solid #dd342f;
  border-radius: 50px;
  padding: 15px 40px;
  margin: 30px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: all 0.3s ease 0s;
}

.confirm {
  background-color: #dd342f;
  color: #fff;
}

.cancel {
  background-color: #fff;
  color: #dd342f;
}

.btn:hover {
  cursor: pointer;
}

.confirm:hover {
  background-color: #ff9800;
  border-color: #ff9800;
}

.cancel:hover {
  border-color:#ff9800;
  color: #ff9800;
}
