* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.root {
  background-color: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  overflow: scroll;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: scroll;
}

.nav {
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.title {
  color: #dd342f;
  font-size: 2.1rem;
  letter-spacing: 2.5px;
}

.title::after {
  content: " \A ─";
  font-size: 1.6rem;;
  white-space: pre;
  color: #dd342f;
}

.palettes {
  box-sizing: border-box;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  grid-auto-rows: 1fr;
}

.palettes::before {
  content: '';
  width: 0;
  padding-bottom: 100%;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.palettes > *:first-child {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.link {
  height: 100%;
  font-size: 1rem;
  letter-spacing: 2.5px;
  font-weight: 600;
}

.navLinks {
  margin-top: 15px;
}

.navLinks a {
  border-bottom: 1px solid #dd342f;
  color: #dd342f;
  text-decoration: none;
}

.navLinks a:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23ff9800' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: 25px;
  border-bottom: 0;
  padding-bottom: 0.3em;
}
